.border-round {
    margin-top: 100rem;
    height: 20rem;
    width: fit-content;
    border-radius: 10px;

}
img{
    background-color: transparent;
    border-radius: 50%;
    margin: auto;
}
img:hover {
    height: 150px;
    width: 250px
}
.crystal-image {

 height: 200px;
 width: 150px;

}

#animateCSSId{
    height: 100px;
    width:  500px;
    font-size: 20rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


html {
    background: url("../images/starwars..jpg");
}

#myScore {
    margin-left: 5px;
    font-size: 50px;
    margin-top: 2rem;

}

.card {
    border-radius: 10px;
}
div {
    border-radius: 10px;
}

span {
    margin: auto;
}

@media screen and (max-width: 500px) {

    img {
        background-color: transparent;
        border-radius: 50%;
        height: auto;
        width: 100px;
        margin: auto;
    }    
    img:hover {
        height: 50px;
        width: 75px;
    }
    .crystal-image {
    
     height: 50px;
     width:  100px;
    
    }

}