.border-round {
    margin-top: 100rem;
    height: 20rem;
    width: fit-content;
    border-radius: 5px;

}
img:hover {
    height: 200px;
    width: 250px
}
.crystal-image {

 height: 200px;
 width: 150px;

}

.animateCSS{
    height: 300px;
    width:  600px;
    font-size: 20rem;
    display: hidden;
}

heading {
    margin-top: 10rem;
    height: 15rem;
}

html {
    background: url("../images/starwars.jpg");
}

#myScore {
    margin-left: 5px;
}

.card {
    border-radius: 10px;
}
div,
heading {
    border-radius: 10px;
}
